*{
    font-family: Arial, Helvetica, sans-serif;
}

.principal{
    width: 80%;
    margin: 20px auto 0;
}

.cabecera{
    display: flex;
    /* outline: 1px solid red; */
}

.cabecera h2{
    padding: 0;
    margin: 20px 0 0 20px;
}

.cabecera img{
    height: 60px;
    width: 60px;
}


.titulo h1{
    font-size: 3em;
}


.contenedor_tabla{
  height: 345px;
  overflow-y:auto
}

.contenedor_tabla table{
    border: solid 3px black;
    width: 100%;
    border-collapse: collapse;
}

.contenedor_tabla table caption{
    font-size: 1.2em;
    font-weight: bold;
    text-align: right;
    margin-right: 20px;
}


.contenedor_tabla table td, .contenedor_tabla table th{
    border-left: 3px solid black;
}

.contenedor_tabla table thead tr th{
    background-color: silver;
    font-size: 1.2em;
}

.contenedor_tabla table thead th, .contenedor_tabla table tbody tr{ 
    height: 40px;
}


.contenedor_tabla table tbody tr td{
    text-align: center;
}

.contenedor_tabla table tbody tr:nth-child(even){
  background-color: #EEEEEE;
  border:none
}


.opciones{
    height: 50px;
    margin-top: 50px;
}

.opciones a{
    line-height: 50px;
    font-size: 1.2em;
}

.cuerpo_ficha{
    border: solid 1px black;
}

.titulo_mostrar{
    display: flex;
    flex-direction: row;
    /* outline: blue 1px solid; */
}

.subtitulo_mostrar{
    /* outline: red    solid 1px; */
    display: flex;
    flex-direction: row;
}

.subtitulo_mostrar{
    display: flex;
    text-align: end;
}

.opciones{
    /* outline: solid 1px black; */
    margin-left: auto;
    display: flex;
}


.divboton{
    margin-top: 20px;
}


.cuerpo_ficha div{
    display: flex;
    line-height: 20px; 
    gap: 20px;
}

.cuerpo_ficha div p{
    line-height: 25px;
}


.cuerpo_formulario form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cuerpo_formulario form input{
    width: 400px;
}