{% extends "usuario_crud_base.html" %}
{% block titulo %}Mostrar Usuarios{% endblock %}

{% block contenido1%}Menu Mostrar Usuario{%endblock%}

{% block contenido2%}

    <div class="titulo_mostrar">
        <div class="subtitulo_mostrar">
            <div><h1>Usuario : </h1></div>
            <div><h1>{{usuario.id}}</h1></div>
        </div>

        <div class="opciones">
            <div><a href="/limpiar">Regresar</a></div>
        </div>
    </div>

    <div class="cuerpo_ficha">

            <div>
              <div><h3>Nombre del Usuario : </h3></div>
              <div><p>{{usuario.first_name}}</p></div>
            </div>

            <div>
                <div><h3>Apellido del Usuario :</h3></div>
                <div><p>{{usuario.last_name}}</p></div>
            </div>

            <div>
                <div><h3>Email del Usuario :</h3></div>
                <div><p>{{usuario.email}}</p></div>
            </div>

            <div>
                <div><h3>Creado en :</h3></div>
                <div><p>{{usuario.created_at}}</p></div>
            </div>

            <div>
                <div><h3>Ultima Modificacion :</h3></div>
                <div><p>{{usuario.updated_at}}</p></div>
            </div>

    </div>

    <div class="divboton">
        <a href="/editar/{{usuario.id}}">Editar</a> | <a href="/eliminar/{{usuario.id}}" onclick="return confirm('Desea eliminar el registro?')">Eliminar</a>
    </div>


{%endblock%}