{% extends "usuario_crud_base.html" %}
{% block titulo %}Mostrar Usuarios{% endblock %}

{% block contenido1%}Menu Insertar Usuario{%endblock%}

{% block contenido2%}


       <div class="cuerpo_formulario">

        <form action="/crear" method="post" onsubmit="return confirm('Desea grabar el registro?');">
            <input type="hidden" name="which_form" value="insertar">
            <div>
              <div><label for="nombre_usuario">Nombre del Usuario :</label></div>
              <div><input type="text" name="nombre_usuario" id="nombre_usuario" required placeholder="john"></div>
            </div>

            <div>
                <div><label for="apellido_usuario">Apellido del Usuario :</label></div>
                <div><input type="text" name="apellido_usuario" id="apellido_usuario" required placeholder="doe"></div>
            </div>

            <div>
                <div><label for="email_usuario">Email del Usuario :</label></div>
                <div><input type="text" name="email_usuario" id="email_usuario" required placeholder="johndoe@email.com"></div>
            </div>


            <div class="divboton">
                <button type="submmit">Crear</button>
            </div>
          </form>
           </div>
        <div class="opciones">
           <div><a href="/limpiar">Regresar</a></div>
        </div>
{%endblock%}