{% extends "usuario_crud_base.html" %}
{% block titulo %}Mostrar Usuarios{% endblock %}
{% block contenido1%}Todos los Usuarios{%endblock%}

{% block contenido2 %}

  <title>Usuarios CRUD-MVC</title>
         <div class="contenedor_tabla">
            <table>
                <caption>Total de Registros - {{usuarios|length}}</caption>

                <thead>
                   <tr>
                      <th>Id</th>
                      <th>Full Name</th>
                      <th>Email</th>
                      <th>Created At</th>
                      <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                  {%if usuarios|length > 0%}
                     {%for i in usuarios%}
                      <tr>
                         <td>{{i.id}}</td>
                         <td>{{i.first_name+" "}} {{i.last_name}}</td>
                         <td>{{i.email}}</td>
                         <td>{{i.created_at}}</td>
                         <td><a href="/mostrar/{{i.id}}">Mostrar</a> | <a href="/editar/{{i.id}}">Editar</a> | <a href="/eliminar/{{i.id}}" onclick="return confirm('Desea eliminar el registro?')">Borrar</a></td>
                      </tr>
                      {%endfor%}
                   {%else%}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                   {%endif%}
                </tbody>
            </table>
        </div>
        <div class="opciones">
           <div><a href="/insertar">Agregar un nuevo Usuario</a></div>
        </div>
{%endblock%}